<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.keem.myapp.talk.TalkDAO">
    
	<select id="total" resultType="Long">
		SELECT COUNT(NUM) FROM TALK
	</select>    
    
    <update id="update" parameterType="TalkDTO">
    	UPDATE TALK SET TITLE=#{title},CONTENTS=#{contents}
    	WHERE NUM=#{num}
    </update>
    
    <select id="list" parameterType="Pager" resultType="TalkDTO">
    	SELECT * FROM 
		(SELECT ROWNUM R, T.* FROM 
		(SELECT * FROM Talk WHERE NUM>0 ORDER BY NUM DESC) T)
			WHERE R BETWEEN #{startRow} and #{lastRow}
    </select>
    
    <insert id="add" parameterType="TalkDTO" >
    	INSERT INTO TALK
		VALUES(TALK_SEQ.NEXTVAL,#{title},#{contents},#{writer},SYSDATE,0)
    </insert>
    
    <select id="detail" parameterType="TalkDTO" resultType="TalkDTO">
    	SELECT * FROM TALK WHERE NUM=#{num}
    </select>
    
    <delete id="delete" parameterType="TalkDTO">
    	DELETE TALK WHERE NUM=#{num}
    </delete>
    </mapper>